@import url('http://fonts.cdnfonts.com/css/raleway-5');
body {
    margin: 0;
    width: 100%;
    font-family: Raleway, sans-serif;
    background-color: #FFFFFA;
}
/* BARRA DE NAVEGACIÓN*/
header {
    display: flex;
    justify-content: space-around;
    background-color: #252932;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    align-items: center;
}
nav a:hover {
    background-color: #F56F3A;
    border-radius: 15px;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
#h1{
    color: #F2F2F2;
    margin: 15px;
    font-size: 50px;
}
#cajatitulo{
    width: 60%;
    display: flex;

}
#contenedor{
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20%;
}
#enlaces{
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 900;
    transition-duration: 0.3s;
    width: 50%;
    display: flex;

}
#h2{
    margin: 15px;
    text-align: center;

}
#btn{

    margin-left: 45%;
}
.btn{
    padding: 5px;
    font-size: 110%;

}